autograd @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_5awn_tz9q3/croot/autograd_1684938641992/work
Bottleneck @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_cfe9itj_y_/croot/bottleneck_1707864223016/work
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_73k3qumdla/croot/certifi_1720453498134/work/certifi
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429945256/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dill @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_774m4l3azq/croot/dill_1715094674566/work
filelock==3.15.4
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1720359051214/work
fsspec==2024.6.1
future @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_27i98bxita/croot/future_1677599886956/work
imageio==2.35.1
Jinja2==3.1.4
joblib @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_825_m6wwnf/croot/joblib_1718217221510/work
keopscore==2.2.3
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380028307/work
MarkupSafe==2.1.5
matplotlib==3.9.1
ml-dtypes==0.4.0
mpmath==1.3.0
multiprocess @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d7pwjgz73x/croot/multiprocess_1692294384009/work
munkres==1.1.4
networkx==3.3
numexpr @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_c2pokmr868/croot/numexpr_1696515300257/work
numpy @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_b7iptlxgej/croot/numpy_and_numpy_base_1708638622773/work/dist/numpy-1.26.4-cp310-cp310-macosx_10_9_x86_64.whl#sha256=9699ffbfee60303323e1bd3d1e591a5fd3b8960e72a61fc675d2c4bc1cb76148
opt-einsum==3.3.0
packaging==24.0
pandas @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_f3c5inakly/croot/pandas_1718308972943/work/dist/pandas-2.2.2-cp310-cp310-macosx_10_15_x86_64.whl#sha256=356e78e118e5f062922de03412d04bfeaa0856be8e1e459f70fa07ed59c22f56
pathos @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_5d14xqobqu/croot/pathos_1692343071321/work
pillow @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_53zannwsvt/croot/pillow_1714398853091/work
POT==0.9.4
pox @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_3fl72ivcbb/croot/pox_1692111214259/work
ppft @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_ad2z8_6rml/croot/ppft_1692111207101/work
pybind11==2.13.1
pykeops==2.2.3
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_244ln7biq9/croot/pytz_1713974320727/work
scikit-learn @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_4bu2zqzzh9/croot/scikit-learn_1714164755228/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1720323030694/work/dist/scipy-1.14.0-cp310-cp310-macosx_10_13_x86_64.whl#sha256=dc5c5845ce67b231e99f81a31f08cbd62358ba044fa45547f9c0ded59bef19de
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sympy==1.13.1
threadpoolctl @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_83z9rmqojb/croot/threadpoolctl_1719407811780/work
torch==2.2.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373570914/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
typing_extensions==4.12.2
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695848189757/work
